{
	auto_https off
}

:80 {
	handle /restaurants* {
		reverse_proxy restaurant-service:8000
	}

	handle /orders* {
		reverse_proxy order-service:8000
	}

	handle /drivers* {
		reverse_proxy driver-service:8000
	}

	handle /ratings* {
		reverse_proxy rating-and-review-service:8000
	}

	handle /rankings* {
		reverse_proxy rating-and-review-service:8000
	}

	handle /status/* {
		reverse_proxy delivery-tracker-service:8000
	}
}